html {
    scroll-behavior: smooth;
}
:root {
    --md-default-fg-color: #2E3440;
    --md-default-fg-color--light: hsla(0, 0%, 0%, 0.54);
    --md-default-fg-color--lighter: hsla(0, 0%, 0%, 0.32);
    --md-default-fg-color--lightest: hsla(0, 0%, 0%, 0.07);
    --md-default-bg-color: hsla(0, 0%, 100%, 1);
    --md-default-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-default-bg-color--lighter: hsla(0, 0%, 100%, 0.3);
    --md-default-bg-color--lightest: hsla(0, 0%, 100%, 0.12);
    --md-primary-fg-color: #2E3440;
    --md-primary-fg-color--light: hsla(230, 44%, 64%, 1);
    --md-primary-fg-color--dark: #3B4252;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-accent-fg-color: #8FBCBB;
    --md-accent-fg-color--transparent: hsla(231, 99%, 66%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
	--md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

.md-typeset a, .md-typeset a::before {
	color:#5E81AC !important;
}

.md-typeset a:hover{
	color: #8FBCBB !important;
}

.books{
	height: 50px !important;

}
/*
.md-typeset .admonition-title, .md-typeset summary {
    position: relative;
    margin: 0 -0.6rem 0 -0.8rem;
    padding: .4rem .6rem .4rem 2.2rem;
    font-weight: 700;
    background-color: rgba(59,66,82,.1) !important;
}

.md-typeset .admonition.tip, .md-typeset details.tip, .md-typeset .admonition.important, .md-typeset details.important, .md-typeset .admonition.hint, .md-typeset details.hint {
    border-color: #4C566A !important;
	;
}
*/

.md-typeset .admonition.homepage,
.md-typeset details.homepage {
  border-color: #8FBCBB;
}
.md-typeset .homepage > .admonition-title,
.md-typeset .homepage > summary {
	background-color: rgba(231, 99%, 66%, 0.1);
}

.md-typeset .homepage > .admonition-title::before,
.md-typeset .homepage > summary::before {
	background-color: #4C566A;
	-webkit-mask-image: var(--md-admonition-icon--tip);
    	mask-image: var(--md-admonition-icon--tip);
}

.md-typeset .admonition.homepage2,
.md-typeset details.homepage2 {
	border-color: #BF616A;
}
.md-typeset .homepage2 > .admonition-title, .md-typeset .homepage2 > summary {
	background-color: rgba(191, 97, 106, 0.1);
}

.md-typeset .homepage2 > .admonition-title::before,
.md-typeset .homepage2 > summary::before {
	background-color: #BF616A;
	-webkit-mask-image: var(--md-admonition-icon--note);
       	mask-image: var(--md-admonition-icon--note);
}

.md-footer-meta__inner,.md-footer-meta, .md-footer{
	background-color: #3B4252;
}

.md-footer-nav{
	background-color: #3B4252;
}

.md-footer-social__link svg{
	color: #D8DEE9 !important;
}

.md-nav__item .md-nav__link--active{
	color: #5E81AC !important;
	font-weight: bold;

}

.md-typeset code, .linenos, .highlighttable{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px !important;
}

.md-tabs{
    background-color: #3B4252;
}

.md-tabs__link {
    display: block;
    margin-top: .8rem;
    font-size: .7rem;
    opacity: 1;
    transition: transform 400ms cubic-bezier(0.1, 0.7, 0.1, 1),opacity 250ms;
    color: white;
}

.md-tabs__link--active, .md-tabs__link:hover {
    color: inherit;
    opacity: 1;
    border-bottom: 4px solid #5E81AC;

}

.md-typeset .admonition, .md-typeset details {
    background-color: var(--md-admonition-bg-color);
    border-left: .2rem solid #6f7d9b !important;
    border-radius: .1rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0.025rem 0.05rem rgb(0 0 0 / 5%);
    color: var(--md-admonition-fg-color);
    display: flow-root;
    font-size: .64rem;
    margin: 1.5625em 0;
    padding: 0 .6rem;
    page-break-inside: avoid;
}

.md-typeset .admonition-title, .md-typeset summary {
    background-color: rgba(68,138,255,.1);
    border-left: .2rem solid #6f7d9b !important;
    border-top-left-radius: .1rem;
    font-weight: 700;
    margin: 0 -.6rem 0 -.8rem;
    padding: .4rem .6rem .4rem 2rem;
    position: relative;
}

.md-nav--primary .md-nav__item--active>.md-nav__link {
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #6a798a;
}